{{- define "itemType" -}}
"http://schema.org/Article"
{{- end -}}
{{- define "title" -}}
  {{ .Params.seoTitle | default .Title }}
{{- end -}}
{{ define "custom-styles" }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous" />
{{ end }}
{{ define "bodyClasses" }}single single-post single-format-standard blog-post{{ end }}
{{ define "header" }}
  <div class="boxed-layout-header page-header header-small" id="primary">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                  <h1 class="hestia-title" itemprop="headline">{{ .Title }}</h1>
                  <ol class="breadcrumbs" vocab="http://schema.org/" typeof="BreadcrumbList">
                    {{$category := index .Params.categories 0}}
                    {{$categoryUrl := $category | urlize }}
                    <li property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" href="{{ $.Site.BaseURL }}">
                        <span property="name">{{ .Site.Title }}</span></a>
                      <meta property="position" content="1">
                    </li>
                    »
                    <li property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" href="/{{ $categoryUrl }}">
                        <span property="name">{{ $category }}</span></a>
                      <meta property="position" content="2">
                    </li>»
                    <li property="itemListElement" typeof="ListItem">
                        <span property="name">{{ .Title }}</span></a>
                      <meta property="position" content="3">
                    </li>
                  </ol>
                  <h4 class="author">Published by <a class="author" href="{{ $.Site.BaseURL }}">
                    <strong class="fn" itemprop="author">{{ .Params.Author }}</strong></a> on 
                    <time class="date updated published" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-0700" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
                  </h4>
              </div>
          </div>
      </div>
      <div class="header-filter" data-parallax="active" style="background-image: url({{ .Params.image }})"></div>
  </div>
{{ end }}
{{ define "main" }}
  <div class="blog-post blog-post-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 single-post-wrap">
                <article itemprop="mainEntityOfPage" class="section section-text">{{ .Content }}</article>
                {{- if .Params.video_url -}}
                  <h2>Original {{ $.Title }} video</h2>
                  <div class="original-video" style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0;">
                      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/{{ index .Params.video_url 0 }}" frameborder="0" allowfullscreen></iframe>
                  </div>
                {{- end -}}
                <div class="section section-blog-info">
                  <div class="row">
                      <div class="col-md-6">
                          {{$category := index .Params.categories 0}}
                          {{$categoryUrl := $category | urlize }}
                          <div class="entry-categories">Category: <span class="label label-primary"><a href="/{{ $categoryUrl }}">{{ $category }}</a></span></div>
                      </div>
                      <div class="col-md-6">
                        <div class="entry-social">
                          <a class="btn btn-just-icon btn-round btn-facebook" target="_blank" rel="tooltip" data-original-title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fab fa-facebook"></i></a>
                          <a class="btn btn-just-icon btn-round btn-twitter" target="_blank" rel="tooltip" data-original-title="Share on Twitter" href="https://twitter.com/home?status={{ .Title }} - {{ .Permalink }}"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-just-icon btn-round btn-google" target="_blank" rel="tooltip" data-original-title="Share on Google+" href="https://plus.google.com/share?url={{ .Permalink }}"><i class="fab fa-google"></i></a></div>
                    </div>
                  </div>
                </div>
            </div>
            {{ partial "sidebar.html" }}
        </div>
    </div>
  </div>
{{ end }}
{{ define "after-main"}}
  {{ partial "related-posts.html" . }}
{{ end }}
