{{- define "title" -}}
{{ .Params.seoTitle | default .Title }}
{{- if gt $.Paginator.PageNumber 1 -}}
, Page {{ $.Paginator.PageNumber }} of {{ $.Paginator.TotalPages }} 
{{- end -}}
{{- end -}}
{{ define "bodyClasses" }}archive category{{ end }}
{{ define "header" }}
	<div class="boxed-layout-header page-header header-small" id="primary">
			<div class="container">
					<div class="row">
							<div class="col-md-10 col-md-offset-1 text-center">
								<h1 class="hestia-title">{{ .Title }}</h1>
								<ol class="breadcrumbs" vocab="http://schema.org/" typeof="BreadcrumbList">
									<li property="itemListElement" typeof="ListItem">
								    	<a property="item" typeof="WebPage" href="{{ $.Site.BaseURL }}">
								    		<span property="name">{{ .Site.Title }}</span>
								    	</a>
								    	<meta property="position" content="1">
									</li> » 
									<li property="itemListElement" typeof="ListItem">
										<span property="name">{{ .Title }}</span></a>
										<meta property="position" content="2">
									</li>
								</ol>
							</div>
					</div>
			</div>
			<div class="header-filter" data-parallax="active" style="background-image: url({{ .Params.image | default .Site.Params.image }})"></div>
	</div>
{{ end }}
{{ define "main" }}
	<div class="hestia-blogs">
			<div class="container">
					<div class="row">
							<div class="col-md-8 archive-post-wrap">
								{{ range  .Paginator.Pages }}
									{{ partial "horizontal-card.html" . }}
								{{ end }}
								{{ partial "pagination.html" . }}
							</div>
							{{ partial "sidebar.html" }}
					</div>
			</div>
	</div>
{{ end }}
