<link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/hestia/hestia-font-sizes.css">
<link rel="stylesheet" href="/assets/css/hestia/hestia.css">
<link rel="stylesheet" href="/assets/css/hestia/hestia.inline.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700%7CRoboto+Slab%3A400%2C700&amp;#038;subset=latin%2Clatin-ext&amp;#038;ver=1.1.66" type="text/css" media="all">
<link rel="stylesheet" href="/assets/css/style.css">