<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget widget_text" id="text-5">
                        <h5>Glyph Promo Codes</h5>
                        <div class="textwidget">
                            <p>HOMIINVOCADO, MCGAMERCZ, TACTICALPOTATO, MOGAMU, IFLYNN, SKILLUP, ADMIRALBAHROO, BIKEMA, SP00NERISM, PROFESSORBROMAN, TVSBOH, MCIK</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget widget_text" id="text-2">
                        <h5>Weapon promo code</h5>
                        <div class="textwidget">
                            <p>FREESWORD – Redeem a Heat Sword with an Orokin Catalyst on it and a weapon slot for it</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <hr/>
        <div class="hestia-bottom-footer-content">
            <div class="hestia-bottom-footer-content">
                <div class="copyright pull-left"><a href="{{ .Site.BaseURL }}">Warframe Blog</a> has no official link with Digital Extremes or Warframe, we are just a fan site.</div>
            </div>
        </div>
    </div>
</footer>